@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}
body {
  color: #000000;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.center {
  @apply flex items-center justify-center;
}


